<!DOCTYPE html>
<html>
<head>
  <title>Car Register App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="row"></div>
      <br/>
      <br/> <br/>
      <div class="row">  
        <form method="post">
          <div class="col-md-9 col-xs-10 col-sm-10">
          {% csrf_token %}
            <div class="form-row">
              <div class="alert alert-info">
              Do you want to delete car - {{ object }}?
              </div>
            </div>
          </div>
          <div class="col-md-3 col-xs-10 col-sm-10">
            <button type="submit" class="btn btn-danger btn-block">
            <span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
