{% load rest_framework %}

<html>
    <head>
        <title>Entry</title> 
    </head>
    <body>
        <h1 style="text-align: center;">Car Entry</h1>
        {% if error %}
        <p style="color: red;">Input Validation Error.</p>
        {% endif %}
        <form method="post" style="text-align: center; ">
            {% csrf_token %}
            <p>
                <table style="margin: 1.5em auto;">
                    {{form}}
                </table>
                {% if form.instance.image %}
                    <img src="{{ form.instance.image.url }}" alt="{{form.instance.carModel}}" style="object-fit: cover; width:230px; height:200px;">
                {% endif %}
            </p>
            <p>
                <button type="submit">Submit</button>  
            </p>
        </form>
    </body>
</html>
